header * {text-align: center; background-color: #151515; padding-bottom: 10px; padding-top: 10px;
    padding-right: 20px;
}

#content2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("https://i.postimg.cc/pXFptsRd/paisaje-de-rick-y-morty-9415.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#content3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("https://i.postimg.cc/x8f12gz1/wp5280883.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    height: 2030px;
    
}

#boton {
    background-color: #303030;
    color: white;
    width: 120px; 
    border-radius: 0;
    border: solid 1px grey;
    font-size: small;
}

#boton:hover {
    background-color: #505050;
}

#imagen {
    width: 100%;
}

#imagen2 {
    border: solid 1px grey;
    width: 250px;
}

#carta1 {
    margin: auto;
    border: solid 1px grey;
    width: 370px;
    height: 450px;
    text-align: center;
    padding-top: 30px;
    background-color: #151515;
    border-radius: 10px;
    font-size:small;
    color: white;
    margin-top: 30px;
    float: left;
    margin-left: 25px;
}

#pie {
    background-color: #151515;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    font-size:small;

}

#carta {
    margin: auto;
    border: solid 1px grey;
    width: 370px;
    height: 450px;
    text-align: center;
    padding-top: 30px;
    background-color: #151515;
    border-radius: 10px;
    font-size:small;
}

#contenido {
    border-radius: 20px;
    margin-top: 20px;
    float: left;
    width: 90%;
    margin-left:60px;
    padding-bottom: 25px;
}

#boton1 {
    background-color: red;
    border: solid 1px red;
}

#boton1:hover {
    background-color: #FF5E00;
}

#err404{
    background-color: black;
    text-align: center;
}